.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
  
.modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 3px;
    max-height: 95vh;
    color: #030b3e;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    
}
  
.display-block {
    display: block;
  }
  
.display-none {
    display: none;
}

#modal, button.standard-btn {
    font-family: 'Ubuntu', sans-serif;
    color: white !important;
    background-color:#027fa2 !important;
    padding: 10px !important;
    border-radius: 2px !important;
    border: none !important;
    font-size: 15px !important;
}

#bar {
    font-size: 12px;
    width: 330px;
    border-radius: 2px;
    height: 120px;
    padding: 15px;
}

.charge {
  font-size: 20px;
}

.charge2 {
  font-size: 15px;
}

i.fas.fa-bolt {
  margin-right: 15px;
}

i.fab.fa-github{
  margin-left: 10px;
}

i.fas.fa-arrow-circle-right {
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  #bar {
    font-size: 10px;
    width: 275px;
    height: 120px;
    padding: 10px;
    }
  }