p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

#score, #topscore {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}

#topscore {
  margin-left: 60px;
}


#amount {
  font-size: 10px;
}


#connect {
  font-size: 20px;
}

.full {
  text-align: center;
}

.half {
  text-align: center;
}

.word {
  color: white;
}

@media only screen and (max-width: 768px) {
#topscore { 
  margin-left: 0px;
}

}
